@import "tailwindcss";

@theme {
  /* --- COLOR PALETTE --- */
  --color-paper: #FDFBF7;
  --color-ink: #2C2825; 
  --color-terra: #E07A5F; 
  --color-sand: #D4A373;
  --color-sage: #81B29A;

  /* --- FONTS --- */
  --font-sans: 'Inter', sans-serif;
  --font-serif: 'PT Serif', serif;
}

@utility bg-noise {
  background-image: url("https://grainy-gradients.vercel.app/noise.svg");
}

@utility clip-path-full {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-paper);
  color: var(--color-ink);
  font-family: var(--font-sans);
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--color-paper);
}

::-webkit-scrollbar-thumb {
  background: #D4C5B0;
  border-radius: 99px;
  border: 3px solid var(--color-paper);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-sand);
}

::selection {
  background-color: var(--color-terra);
  color: #FDFBF7;
}